<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ajax 테스트</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
// 동기 통신 방식 : 클라이언트가 서버로 신호를 보낸 후 응답을 받을 때까지 어떠한 작업도 하지 않고 대기하고 있다가 서버에서 응답을 보낼 경우 처리를 하는 방식
// 비동기 통신 방식 : 클라이언트가 서버로 신호를 보낸 후 이벤트 리스너에 응답 이벤트를 등록하고 자신은 다른 작업을 계속 진행하다가 서버에서 응답하여 이벤트가 발생하면 신호를 받아서 처리를 하는 방식
	$(document).ready(function() {
		$("#btnSend").on("click", function() {
			var datas = {num1 : $("#num1").val(), num2 : $("#num2").val()};
			
	// type을 post로 주면 Controller에 POST 방식
	// type을 get로 주면 Controller에 GET방식
			$.ajax({
				url: "/ajax",
				type: "post",
				data: datas,
				success: function(data) {
					alert("ajax 통신이 성공하였습니다.");
					$("#result").text(data.result);
					$("#resultNum1").text("사용자가 입력한 숫자 1 : " + data.num1);
					$("#resultNum2").text("사용자가 입력한 숫자 2 : " + data.num2);
				},
				error: function() {
					alert("ajax 통신 중 오류가 발생했습니다.")
				}
			});
			
			console.log("출력 1");
		});
	});
</script>

</head>
<body>
	<div>
		<input type="text" id="num1" name="num1" placeholder="첫번째 숫자를 입력해주세요"><br>
		<input type="text" id="num2" name="num2" placeholder="두번째 숫자를 입력해주세요"><br>
		<button id="btnSend">Ajax로 전송</button>
	</div>
	
	<div>
		<h2 id="result"></h2>
		<h2 id="resultNum1"></h2>
		<h2 id="resultNum2"></h2>
	</div>
</body>
</html>